
/*
   .-----------------------------------------------------.
   |                     BASIC STYLES                    |
   '-----------------------------------------------------'
*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700,800,900&display=swap&subset=vietnamese');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap&subset=vietnamese');

html{
  overflow-x: hidden !important;
}
body {
  font-size: 13px;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: $default;
  background-color: white;
  @include mq('desktop'){
    font-size: 14px;
  }
  @include mq('desktop-1800'){
    font-size: 16px;
  }
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:last-child {
  margin-bottom: 0;
}

input, textarea {
  @include placeholder(rgba($default,1));
  outline: none; 
}

button {
  outline: none; 
}


.slick-dotted.slick-slider {
  margin-bottom: 0 !important;
}

table {
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  tr {
    padding: 0;
    margin: 0;
  }
  th {
    font-style: normal;
    padding: 0;
    margin: 0;
  }
  td {
    padding: 0;
    margin: 0;
  }
}

address {
  font-style: normal;
}

blockquote {
  margin: 0;
  padding: 0;
}

input[type='text'],
input[type='email'],
select,
textarea {
  outline: none;
  @include transition(0.3s);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  @include rounded(0);
  border: none;
  border-bottom: 1px solid $default;
  font-size: 15px;
  line-height: 32px;
  margin: 0;
  width: 100%;
  background: transparent;
  padding: 8px 0;
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-text-fill-color: $default;
    transition-property: background-color;
    transition-delay: 99999s;
    -webkit-transition-delay: 99999s;
  }
  &.has-value {
  }
}
textarea {
  height: 72px;
  padding-top: 8px;
}

input[type='submit'] {
  @include transition(0.3s);
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: $default;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  @include mq('desktop'){
    font-size: 14px;
  }
  @include mq('desktop-1800'){
    font-size: 16px;
  }
  &:hover {
    text-decoration: none;
    color: $default;
  }
}

p {
  margin: 0 0 8px 0;
  padding: 0;
  font-size: 13px;
  line-height: 1.4em;
  @include mq('desktop'){
    font-size: 14px;
  }
  @include mq('desktop-1800'){
    font-size: 16px;
  }
  &.is-small {
    font-size: 13px;
    line-height: 14px;
  }
  &.is-medium {
    font-size: 14px;
    line-height: 18px;
  }
  &.is-large {
    font-size: 20px;
    line-height: 26px;
  }
}

%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.clearfix {
  @extend %clearfix;
}

.row-fluid {
  *zoom: 1;
  &:before {
    content: "";
    display: table;
  }
  &:after {
    content: "";
    display: table;
    clear: both; 
  }
  [class*="span-"] {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    &:first-child {
      margin-left: 0 !important;  
    }
  }
  .no-gutter {
    margin-left: 0 !important;
  }
  .pull-right{
    float: right;
  }
  @for $i from 1 through 12 {
      .span-#{$i} { 
        width: 100%; 
      }
  }

  @include mq('tablet') {
    $default-gutter-px: 16;
    $default-screen-px: 768;
    $default-column-px: 49;
    $default-column-perc: $default-column-px / $default-screen-px;
    $default-gutter-perc: $default-gutter-px / $default-screen-px;
    $default-column-gutter-perc: $default-column-perc + $default-gutter-perc;
    @for $i from 1 through 12 {
        .span-#{$i} { 
          width: percentage($default-column-perc + ($default-column-gutter-perc * ($i - 1)));
        }
        [class*="span-"].offset-#{$i} { 
          margin-left: percentage($default-column-gutter-perc * $i) !important;
        }
        [class*="span-"].pull-right.offset-#{$i} { 
          margin-right: percentage($default-column-gutter-perc * $i) !important;
          margin-left: 0 !important;
        }
    }
    [class*="span-"],
    [class*="span-"].has-gutter {
      margin-left: percentage($default-gutter-perc);
    }
  }

  @include mq('desktop') {
    $default-gutter-px: 24;
    $default-screen-px: 1236;
    $default-column-px: 81;
    $default-column-perc: $default-column-px / $default-screen-px;
    $default-gutter-perc: $default-gutter-px / $default-screen-px;
    $default-column-gutter-perc: $default-column-perc + $default-gutter-perc;
    @for $i from 1 through 12 {
        .span-#{$i} { 
          width: percentage($default-column-perc + ($default-column-gutter-perc * ($i - 1)));
        }
        .offset-#{$i} { 
          margin-left: percentage($default-column-gutter-perc * $i) !important;
        }
        [class*="span-"].pull-right.offset-#{$i} { 
          margin-right: percentage($default-column-gutter-perc * $i) !important;
          margin-left: 0 !important;
        }
    }
    [class*="span-"],
    [class*="span-"].has-gutter {
      margin-left: percentage($default-gutter-perc);
    }
  }
}

.mobile-hide {
  display: none !important;
}
@include mq('tablet') {
  .mobile-hide {
    display: inherit !important;
  }
  .tablet-hide {
    display: none !important;
  }
}
@include mq('desktop') {
  .mobile-hide {
    display: inherit !important;
  }
  .tablet-hide {
    display: inherit !important;
  }
  .desktop-hide {
    display: none !important;
  }
}

.ih-s-section{
  z-index: 1;
  padding-top: 60px;
  padding-bottom: 60px;
  @include mq('desktop'){
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .in-b-container {
    position: relative;
    @extend %clearfix;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

    @include mq('desktop'){
      padding-left: 80px;
      padding-right: 80px;
    }
    @include mq('desktop-1800'){
      padding-left: 150px;
      padding-right: 150px;
    }

  }
}
.ih-b-container {
  position: relative;
  @extend %clearfix;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1170px;
  margin: 0 auto;
  @include mq('desktop'){
  }
  @include mq('desktop-1800'){
  }
}
ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 8px 0;
  padding: 0;
  line-height: 1.2em;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 32px;
  line-height: 36px;
}
h2 {
  font-size: 28px;
  line-height: 34px;
}
h3 {
  font-size: 22px;
  line-height: 26px;
}
h4, h5, h6 {
  font-size: 20px;
  line-height: 24px;
}
blockquote {
  font-size: 20px;
  line-height: 24px;
}

.slick-slider {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
@include mq('tablet') {
  body {
    font-size: 14px;
    line-height: 20px;
  }
  h1 {
    font-size: 40px;
    line-height: 44px;
  }
  h2 {
    font-size: 32px;
    line-height: 36px;
  }
  h3 {
    font-size: 24px;
    line-height: 28px;
  }

  button {
    width: auto;
  }
}

@include mq('desktop') {
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 16px;
  }
  h1 {
    font-size: 48px;
    line-height: 50px;
  }
  h2 {
    font-size: 36px;
    line-height: 40px;
  }
  h3 {
    font-size: 28px;
    line-height: 32px;
  }

  blockquote {
    font-size: 24px;
    line-height: 28px;
  }
}
.gmnoprint{
  display: none;
}
button[type = submit]{
  cursor: pointer;
}

.ih-nav-icon {
  width: 25px;
  height: 15px;
  @include transform(rotate(0deg));
  @include transition(.5s,ease-in-out);
  cursor: pointer;
  z-index: 1;
  span{
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #444;
    opacity: 1;
    left: 0;
    @include transform(rotate(0deg));
    @include transition( .25s,ease-in-out);
    &:nth-child(1){
      top: 0;
    }
    &:nth-child(2){
      top: 6px;
      width: 25px;
      background-color: $red;
    }
    &:nth-child(3){
      top: 12px;
    }
  }
  .show-menu &{
    span{
      &:nth-child(1){
        top: 6px;
        @include transform(rotate(135deg));
      }
      &:nth-child(2){
        opacity: 0;
        left: -20px;
      }
      &:nth-child(3){
        top: 6px;
        @include transform(rotate(-135deg));
      }
    }
  }
}
/*
   .-----------------------------------------------------.
   |                       Loading                       |
   '-----------------------------------------------------'
*/

.ih-b-loading-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background: $main;
  .ih-b-body{
    @include center-relative('both');
    width: 50px;
    height: 10px;
    position: relative;
    .ih-line{
      position: absolute;
      top: 50%;
      left: 50%;
      width: 0;
      height: 10px;
      background-color: $default;
      @include transform(translate(-50%,-50%));
      &:first-child{
        animation: loadingLine1 3s ease infinite;

      }
      &:last-child{
        animation: loadingLine2 3s ease infinite;
      }
    }
  }
}
@include keyframes(loadingLine1){
  0%{
    width: 0;
  }
  16.66%{
    width: 50px;
  }
  33.32%{
    width: 50px;
    @include transform(translate(-50%,-50%) rotate(0));

  }
  49.98%{
    width: 50px;
    @include transform(translate(-50%,-50%) rotate(90deg));
  }
  66.64%{
    width: 50px;
    @include transform(translate(-50%,-50%) rotate(90deg));
  }
  83.3%{
    width: 0;
    @include transform(translate(-50%,-50%) rotate(90deg));
  }

  100%{
    width: 0;
    @include transform(translate(-50%,-50%) rotate(90deg));

  }

}
@include keyframes(loadingLine2){
  0%{
    width: 0;
  }
  16.66%{
    width: 50px;
    @include transform(translate(-50%,-50%) rotate(0));

  }
  33.32%{
    width: 50px;
    @include transform(translate(-50%,-50%) rotate(90deg));
  }
  49.98%{
    @include transform(translate(-50%,-50%) rotate(180deg));

  }
  66.64%{
    width: 50px;
    @include transform(translate(-50%,-50%) rotate(180deg));
  }
  83.3%{
    width: 50px;
    @include transform(translate(-50%,-50%) rotate(180deg));
  }
  100%{
    width: 0;
    @include transform(translate(-50%,-50%) rotate(180deg));
  }
}

.ih-about-title{
  margin: 0;
  font-weight: 100;
  text-transform: uppercase;
  line-height: 1em;
  line-height: 1em;
  strong{
    display: block;
    font-weight: 500;
    line-height: 1em;
  }
}
.ih-arrow-down{
  display: inline-block;
  width: 30px;
  height: 20px;
  background-image: url(../images/arrow-down-white.svg);
  background-size: 30px 20px;
  background-repeat: no-repeat;
  @include mq('desktop'){
    width: 50px;
    height: 35px;
    background-size: 50px 35px;
    background-repeat: no-repeat;
  
  }
}
.ih-sns{
  display: flex;
  a{
    margin-right: 30px;
    img{
      height: 35px;
      filter: brightness(0.3);
    }
    svg{
      height: 25px;
      width: auto;
      &:last-child{
        margin-right: 0;
      }
      path{
        @include transition(0.3s, ease-in-out);
      }
    }
    &:hover{
      svg{
        path{
          fill: $red !important;
          @include transition(0.3s, ease-in-out);    
        }
      }
    }
    &:last-child{
      margin-right: 0;
    }
  }
}

.ih-b-work-item{
  height: 250px;
  padding: 30px;
  margin-bottom: 20px;
  background-size: cover;
  position: relative;
  overflow: hidden;
  width: 100%;
  @include mq('desktop'){
    height: 400px;
    right: 0;
    bottom: 0;
    z-index: 2;
  }
  &:before{
    @include pseudo();
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background-color: #614e49b3;
    background: linear-gradient(180deg, #614e49b3 0% , rgba(0, 0, 0, 0) 100%);
    z-index: 1;
  }
  a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    z-index: 2;
  }
  figure{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    img{
      width: 100%;
      height: 100%;
      max-width: none;
      object-fit: cover;
      transform: translate3d(0, 0, 0);
      width: calc(100% + 20px);
      @include transition(0.35s, ease);
      @include transform(translate3d(-10px, 0, 0));
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
  }
  .ih-content{
    position: relative;
    z-index: 1;
    h3{
      font-weight: 500;
      font-size: 15px;
      text-transform: uppercase;
      position: relative;
      padding-bottom: 10px;
      margin-bottom: 10px;
      line-height: 1.2em;
      overflow: hidden;
      &::after{
        @include pseudo();
        width: 100%;
        max-width: 540px;
        height: 2px;
        background-color: #fffffe;
        left: 0;
        bottom: 0;
        @include transform(translate3d(-100%, 0, 0));
        @include transition(0.35s, ease)
      }
    }
    p{
      opacity: 0;
      @include transition(0.35s, ease);
      @include transform(translate3d(100%, 0, 0));
    }

    @include mq('desktop'){
      h3{
        font-size: 36px;
      }
      p{
        font-size: 16px;
      }
    }
  }
  &:hover{
    .ih-content{
      h3{
        &::after{
          @include transform(translate3d(0, 0, 0));
          transition: transform 0.35s;
          @include transition(0.35s, ease)
        }
      }
      p{
        opacity: 1;
        @include transform(translate3d(0, 0, 0));
        @include transition(0.35s, ease)
      }
    }
    figure{
      img{
        @include transform(translate3d(0, 0, 0));
        @include transition(0.35s, ease);
      }
    }
  }

}
.ih-b-html{
  img {
    margin: 10px auto;
  }
  p{
    margin-bottom: 8px;
  }
}

.ih-img-popup{
  overflow: hidden;
  a{
    position: relative;
    &::before{
      @include pseudo();
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: #614e49b3;
        z-index: 1;
        opacity: 0;
        -webkit-transition: all 0.7s cubic-bezier(0.2, 1, 0.22, 1);
        -moz-transition: all 0.7s cubic-bezier(0.2, 1, 0.22, 1);
        -o-transition: all 0.7s cubic-bezier(0.2, 1, 0.22, 1);
        transition: all 0.7s cubic-bezier(0.2, 1, 0.22, 1);
    }
    &:hover{
      &::before{
        opacity: 1;
        -webkit-transition: all 0.7s cubic-bezier(0.2, 1, 0.22, 1);
        -moz-transition: all 0.7s cubic-bezier(0.2, 1, 0.22, 1);
        -o-transition: all 0.7s cubic-bezier(0.2, 1, 0.22, 1);
        transition: all 0.7s cubic-bezier(0.2, 1, 0.22, 1);  
      }
      img{
        @include transform(scale(1.07));
        -webkit-transition: all 0.7s cubic-bezier(0.2, 1, 0.22, 1);
        -moz-transition: all 0.7s cubic-bezier(0.2, 1, 0.22, 1);
        -o-transition: all 0.7s cubic-bezier(0.2, 1, 0.22, 1);
        transition: all 0.7s cubic-bezier(0.2, 1, 0.22, 1);
      }
    }
  }
}

.ih-image-cover{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;    
  width: 100%;
  height: 100%;
  img{
    display: none;
  }
}