
$break-points: (
        "phone": 320px,
        "phone-wide": 375px,
        "tablet": 768px,
        "tablet-wide": 1024px,
        "desktop": 1080px,
        "desktop-1400": 1400px,
        "desktop-1600": 1600px,
        "desktop-1800": 1800px,
        "desktop-1900": 1850px,
);
$main: white;
$default: #444444;
$red: #ef1e2e;