@import "./variables";
@import "./fonts";
@import "./_mixinscustom";
@import "./common";

header{
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: white;
  box-shadow: 0 0 20px 0px rgba(0,0,0,.1);
  .ih-b-container{
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &::after, &::before{
      content: initial;
    }
    .ih-logo{
      img{
        width: 60px;
      }
    }
    .ih-nav-right{
      display: flex;
      align-items: center;
      justify-content: space-between;
      .ih-lang{
        margin-right: 10px;
        display: none;
        a{
          color: white;
          font-weight: 300;
          opacity: 0.5;
          font-size: 13px;
          text-transform: uppercase;
          padding: 0 10px;
          border-right: 1px solid white;
          &.active{
            opacity: 1;
            font-weight: 500;
          }
          &:last-child{
            border-right: 0;
          }
        }
        .show-menu &{
          display: initial;
        }
      }
      .ih-nav-icon{

      }
    }

  }
}
.news-item {
  margin-bottom: 15px;
  &:last-child{
    margin-bottom: 0;
  }
  figure {
    margin: 0 0 5px;
    width: 100%;
    height: 200px;
    a{
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .ih-des {
    a {
      font-weight: bold;
      margin-bottom: 5px;
      font-size: 14px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      line-height: 18px;     /* fallback */
      max-height: 36px;      /* fallback */
      -webkit-line-clamp: 2; /* number of lines to show */
      -webkit-box-orient: vertical;
    }
    p {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      line-height: 18px;     /* fallback */
      max-height: 36px;      /* fallback */
      -webkit-line-clamp: 2; /* number of lines to show */
      -webkit-box-orient: vertical;
    }
  }
  &.item-sidebar{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    figure {
      margin: 0;
      width: 120px;
      height: 80px;
    }
    .ih-des {
      width: calc(100% - 130px);
      height: auto;
      a {
        max-height: 54px;      /* fallback */
        -webkit-line-clamp: 3; /* number of lines to show */
      }
      p {
      }
    }
  }
  @include mq('tablet'){
    figure {
      height: 180px;
    }
    .ih-des {
      height: 95px;
      p {
        display: -webkit-box;
        line-height: 18px;     /* fallback */
        max-height: 54px;      /* fallback */
        -webkit-line-clamp: 3; /* number of lines to show */
      }
    }
  }
}

.ih-s-menu{
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 9;
  background-color: white;
  @include transform(translateY(-100%));
  .ih-b-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    ul{
      li{
        margin-bottom: 20px;
        a{
          font-size: 30px;
          line-height: 1em;
          color: black;
          position: relative;
          font-weight: 500;
          text-transform: uppercase;
          &::before{
            @include pseudo();
            bottom: 0;
            left: 0;
            width: 0;
            height: 2px;
            background-color: black;
          }
          &:hover{
            &::before{
              width: 100%;
            }
          }
        }
        &.dropdown{
          margin-bottom: 0;
          .dropdown-toggle{
            position: relative;
            margin-bottom: 20px;
            display: inline-block;
            &::before{
              @include pseudo();
              right: -5px;
              top: 50%;
              left: initial;
              width: 20px;
              height: 11px;
              background-image: url(../images/icon-arrow-down.png);
              background-size: 20px 11px;
              background-color: transparent;
              @include transform(translate(100%, -50%));
            }
          }
          .dropdown-menu{
            display: none;
            li{
              &:last-child{
                margin-bottom: 20px;
              }
              a{
                &::before{
                  width: 0 !important;
                }
                &:hover{
                  &::before{
                    width: 100% !important;
                  }
                }
              }
              &.active{
                a{
                  &::before{
                    width: 100% !important;
                  }
                }
              }
            }
          }
        }
        &.active{
          a{
            &::before{
              width: 100%;
            }
          }
        }
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }

  .show-menu &{
    @include transform(translateY(0));
  }
}

.ih-s-home{
  .ih-b-container{
    .ih-b-news{
      margin-bottom: 30px;
    }

    .span-8{
      .span-6{
        &:nth-child(2n + 1){
          margin-left: 0;
        }
      }
    }

  }
  @include mq('tablet'){
    padding: 120px 0;
  }
}

.ih-b-sidebar{
  h3{
    text-transform: uppercase;
  }
}

.fb-comment{
  margin-bottom: 20px;

}

.ih-s-post-detail{
  .ih-b-container{
    .ih-b-news-content{
      .ih-b-head{
        margin-bottom: 20px;
        img{
          margin-bottom: 10px;
        }
        h3{
          margin-bottom: 10px;
        }
      }
    }
  }
}

footer{
  padding: 40px 0 20px;
  background-color: black;
  color: white;
  .ih-b-container{
    .ih-b-footer{
      .ih-b-left{
        p{
          font-weight: 500;
        }
        form{
          position: relative;
          margin-bottom: 20px;
          input{
            appearance: none;
            width: 100%;
            padding: 10px 0;
            background-color: transparent;
            border: 0;
            border-bottom: 1px solid white;
          }
          button{
            width: 20px;
            height: 30px;
            padding: 0;
            position: absolute;
            top: 50%;
            right: 0;
            background: transparent;
            border: 0;
            @include transform(translateY(-50%));
  
            img{
              width: 100%;
              height: 100%;
              @include transform(rotate(-90deg));
            }
          }
        }
      }
      .ih-b-right{
        ul{
          margin-bottom: 20px;
          li{
            margin-bottom: 10px;
            a{
              line-height: 1em;
              color: white;
              position: relative;
              font-weight: 500;
              @include transition(0.4s, ease-in-out);
              &:hover{
                color: $red;
                @include transition(0.4s, ease-in-out);
              }
            }
            &.dropdown{
              margin-bottom: 0;
              .dropdown-toggle{
                position: relative;
                margin-bottom: 10px;
                display: inline-block;
                &::before{
                  @include pseudo();
                  right: -5px;
                  top: 50%;
                  left: initial;
                  width: 10px;
                  height: 6px;
                  background-image: url(../images/icon-arrow-down.png);
                  background-size: 10px 6px;
                  background-color: transparent;
                  @include transform(translate(100%, -50%));
                }
              }
              .dropdown-menu{
                display: none;
                margin-bottom: 0;
                position: absolute;
                background: white;
                z-index: 1;
                li{
                  margin-bottom: 0;
                  a{
                    padding: 7px 10px;
                    display: block;
                    color: $main;
                  }
                }
              }
            }
            &:last-child{
              margin-bottom: 0;
            }
          }
        }
      .ih-contact{
        .ih-sns{
          margin-bottom: 20px;
          a{
            img{
              filter: brightness(0) invert(1);
              height: 26px;
            }
          }
        }
        p{
  
        }
      }
  
      }
    }

  }
}

.ih-s-contact{
  background-size: cover;
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  min-height: 100vh;
  .ih-b-container{
    z-index: 2;
    .row-fluid{
      .ih-info{
        margin-bottom: 60px;
        p{
          margin-bottom: 15px;
          display: flex;
          max-width: 400px; 
          strong{
            min-width: 95px;
            color: $red;
            text-transform: uppercase;
            display: inline-block;
          }
          &:last-child{
            margin-bottom: 0;
          }
        }
      }
      .ih-form{
        .ih-head{
          margin-bottom: 30px;
          h2{
            text-transform: uppercase;
            font-weight: 100;
            strong{
              font-weight: 700;
            }
          }
          p{
            margin-bottom: 0;
          }
        }
        form{
          font-family: 'Open Sans', sans-serif !important; 
          max-width: 610px;
          input, textarea{
            margin-bottom: 20px;
          }

          button{
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            border: 0;
            border-radius: 0;
            background-color: $red;
            text-transform: uppercase;
            padding: 10px 30px;
            color: white;
            font-weight: 700;
            @include transition(0.3s, ease-in-out);
            &:hover{
              color: $red;
              background-color: white;
              @include transition(0.3s, ease-in-out);
            }
          }
        }
      }
    }
  }
}

.mfp-zoom-out-cur{
  .mfp-image-holder{
    .mfp-content{
      .mfp-figure{
        button{
          font-weight: 100;
          font-size: 16px;
          text-transform: uppercase;
          font-family: 'Open Sans', sans-serif;
        }
      }
    }
  }
}

@include mq('tablet'){

}

@include mq('desktop'){
  header{
    padding: 10px 0;
    position: absolute;
    .ih-b-container{
      padding: 0 80px;
      align-items: center;
      .ih-logo{
        img{
          width: 120px;
        }
      }
      .ih-nav-right{
        .ih-lang{
          margin-right: 30px;
          a{
            font-size: 16px;
            padding: 0 15px;
          }
        }
      }
  
    }
  }



  footer{
    padding: 100px 0;
    .ih-b-container{
      .ih-b-footer{
        display: flex;
        justify-content: space-between;
        .ih-b-left{
          p{
            margin-bottom: 40px;
            max-width: 380px;
          }
          form{
            position: relative;
            margin-bottom: 20px;
            input{
              font-size: 16px;
              max-width: 550px;
            }
            button{
              width: 20px;
              height: 30px;
              padding: 0;
              position: absolute;
              top: 50%;
              right: 0;
              background: transparent;
              border: 0;
              @include transform(translateY(-50%));
              img{
                width: 100%;
                height: 100%;
                @include transform(rotate(-90deg));
              }
            }
          }
        }
        .ih-b-right{
          ul{
            margin-bottom: 75px;
            text-align: right;
            li{
              margin-bottom: 0;
              display: inline-block;
              margin-right: 30px;
              a{
                line-height: 1em;
                color: white;
                position: relative;
                font-weight: 500;
                &:hover{
                  color: $red;
                }
              }
              &.dropdown{
                margin-bottom: 0;
                .dropdown-toggle{
                }
                .dropdown-menu{
                  text-align: left;
                  li{
                    margin-right: 0;
                    display: block;
                    a{
                      &:hover{
                        opacity: 0.7;
                      }
                    }
                  }
                }
              }
              &.active{
              }
              &:last-child{
                margin-bottom: 0;
              }
            }
          }
        .ih-contact{
          display: flex;
          align-items: center;
          justify-content: center;
          .ih-sns{
            margin-bottom: 0;
            margin-right: 40px;

          }
          p{
    
          }
        }
    
        }
      }
  
    }
  }
  

  .ih-s-home{

  }


  .ih-s-menu{
    .ih-b-container{
      ul{
        li{
          a{
            font-size: 38px;
            padding: 0 5px;
          }
        }
      }
    }

    .show-menu &{
      @include transform(translateY(0));
    }
  }

  .ih-s-contact{
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .ih-b-container{
      width: 100%;
      .row-fluid{
        .ih-info{
          margin-bottom: 0;
          padding-top: 105px;
          padding-left: 60px;
        }
        .ih-form{
          .ih-head{
            h2{
              font-size: 60px;
              margin-bottom: 70px;
            }
          }
          form{
            font-family: 'Open Sans', sans-serif !important; 
            input{
              margin-bottom: 35px;
              padding: 12px 0;
            }
            textarea{
              margin-bottom: 35px;
            }
            button{
              padding: 20px 70px;
              font-size: 20px;
            }
          }
        }
      }
    }
  }


}


