<section class="ih-s-section ih-s-post-detail">
    <div class="ih-b-container row-fluid">
        <div class="span-8 ih-b-news-content">
            <div class="ih-b-head">
                <img src="{{postDetail.thumbnail.path}}" alt="{{postDetail.title}}">
                <h3>{{postDetail.title}}</h2>
                <p>{{postDetail.created_at}}</p>
            </div>
            <div class="ih-b-body ih-b-html">
                {{postDetail.description | raw}}
            </div>


            <div id="fb-root"></div>
            <script async defer crossorigin="anonymous"
                src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v5.0&appId=1038830306203238&autoLogAppEvents=1"></script>
            <div class="fb-comment">
                <div class="fb-comments" data-href="https://www.facebook.com/alipocreative/" data-width="100%"
                    data-numposts="5"></div>
            </div>

        </div>

        <div class="span-4 ih-b-sidebar">
            <h3>{{ 'Tin liên quan' |_ }} </h3>
            {% for item in relatePosts %}
            <div class="news-item item-sidebar">
                <figure>
                    <a href="{{ 'post-detail'| page ({ slug: item.slug }) }}">
                        <img src="{{item.thumbnail.path}}" alt="{{item.title}}">
                    </a>
                </figure>
                <div class="ih-des">
                    <a href="{{ 'post-detail'| page ({ slug: item.slug }) }}">
                        {{item.title}}
                    </a>
                    <p>{{item.created_at | date("m/d/Y")}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>