
==
<div class="confirm-container">
    <!--This will contain the confirmation when the email is successfully sent-->
</div>
<form class="flexiContactForm" role="form" data-request="{{ contactForm  }}::onMailSent"
    data-request-update="'{{ contactForm  }}::confirm': '.confirm-container'">
    <input type="text" name="name" placeholder="{{ 'Name '|_}}" required>
    <input type="text" name="phone" placeholder="{{ 'Phone '|_}}" required>
    <input type="email" name="email" placeholder="{{ 'Email '|_}} *" required>
    <textarea name="note" cols="30" placeholder="{{ 'Note '|_}}" rows="10"></textarea>

    <button type="submit">
        {{ 'Send us '|_}}
    </button>
</form>