description = "footer"

==

<footer>
    <div class="ih-b-container">
        <div class="ih-b-footer">
            <div class="ih-b-left">
                <p>{{'Subscribe to our newsletter' |_}}</p>
                {% partial "contact" %}
            </div>
            <div class="ih-b-right">
                <ul>
                    <li>
                        <a href="{{'home' | page}}">{{'Trang chủ' |_}}</a>
                    </li>
                    <li>
                            <a href="{{'contact' | page}}">{{'Liên hệ' |_}}</a>
                        </li>
                </ul>
                <div class="ih-contact">
                    {% partial "social" %}
                    <p>{{'@ 2019 <strong>Alipo</strong> All Right Reserved.' |_}}</p>
                </div>
            </div>

        </div>
    </div>
</footer>