description = "header"

==
{% set curPage = this.page.url|replace({':slug?':''})|replace({'/':''})|replace({':slug':''}) %}
{% if curPage == 'service' %} {% set curPage = 'services' %} {% endif %}

<header>
    <div class="ih-b-container">
        <div class="ih-logo">
            <a href="{{'home' | page}}">
                <img src="{{'assets/images/logo.svg' | theme}}" alt="logo instyle home">
            </a>
        </div>
        <div class="ih-nav-right">
            <div class="ih-nav-icon js-toggle-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</header>

<section class="ih-s-menu">
    <div class="ih-b-container">
        <ul>
            <li>
                <a href="{{'home' | page}}">Trang chủ</a>
            </li>

            <li>
                <a href="{{'contact' | page}}">Liên hệ</a>
            </li>
        </ul>
    </div>
</section>