==

<div class="ih-b-work-item">
    <a href="{{'work-detail' | page ({slug: project.slug}) }}"></a>
    <figure>
        <div class="ih-image-cover" style="background-image: url({{project.thumb.path}})"></div>
    </figure>
    <div class="ih-content">
        <h3 class="js-title">{{project.title}}</h3>
        <p>
            {% for item in project.services %}
                {% if loop.index != 1 %}
                    | {{item.name}}
                    {% else %}
                    {{item.name}}
                {% endif %}
            {% endfor %}
        </p>
    </div>
</div>