/* ----------------------- External Font ----------------------- */
/* ---------- Media Queries ---------- */
/* ---------- Placeholder Style ---------- */
/* ---------- Center an element (absolute) ---------- */
/* ---------- Center an element (relative) ---------- */
/* ---------- Animation Mixin Setup ---------- */
/* ---------- Gradient ---------- */
/* ----------------------- Rounded ----------------------- */
/* ----------------------- Opacity ----------------------- */
/* ----------------------- Transform ----------------------- */
/* -------------------- Transform Delay -------------------- */
/* -------------------- Animation Delay -------------------- */
/* ----------------------- Rotation ----------------------- */
/* ----------------------- Scale ----------------------- */
/* -------------------- Scale Horizontal -------------------- */
/* ------------------ Transform Origin ------------------ */
/* ----------------------- Transition ----------------------- */
/* ------------------ Transition Specific ------------------ */
/* ----------------------- Pseudo ----------------------- */
/* ----------------------- Filter ----------------------- */
/* 
  grayscale      ex: filter: grayscale(100%);
  sepia          ex: filter: sepia(100%);
  saturate       ex: filter: saturate(0%);
  hue-rotate     ex: filter: hue-rotate(45deg);
  invert         ex: filter: invert(100%);
  brightness     ex: filter: brightness(15%);
  contrast       ex: filter: contrast(200%);
  blur           ex: filter: blur(2px);
*/
/* --------------------- Box Shadow --------------------- */
/* --------------------- Text Shadow --------------------- */
/* ----------------------- Extra Mixin ----------------------- */
/* Can remove in another project */
/*
   .-----------------------------------------------------.
   |                     BASIC STYLES                    |
   '-----------------------------------------------------'
*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700,800,900&display=swap&subset=vietnamese");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap&subset=vietnamese");
html {
  overflow-x: hidden !important; }

body {
  font-size: 13px;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #444444;
  background-color: white; }
  @media only screen and (min-width: 1080px) {
    body {
      font-size: 14px; } }
  @media only screen and (min-width: 1800px) {
    body {
      font-size: 16px; } }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*:last-child {
  margin-bottom: 0; }

input, textarea {
  outline: none; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #444444; }
  input:-moz-placeholder, textarea:-moz-placeholder {
    color: #444444; }
  input::-moz-placeholder, textarea::-moz-placeholder {
    color: #444444; }
  input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #444444; }

button {
  outline: none; }

.slick-dotted.slick-slider {
  margin-bottom: 0 !important; }

table {
  margin: 0;
  padding: 0;
  border: none;
  width: 100%; }
  table tr {
    padding: 0;
    margin: 0; }
  table th {
    font-style: normal;
    padding: 0;
    margin: 0; }
  table td {
    padding: 0;
    margin: 0; }

address {
  font-style: normal; }

blockquote {
  margin: 0;
  padding: 0; }

input[type='text'],
input[type='email'],
select,
textarea {
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #444444;
  font-size: 15px;
  line-height: 32px;
  margin: 0;
  width: 100%;
  background: transparent;
  padding: 8px 0; }
  input[type='text']:-webkit-autofill, input[type='text']:-webkit-autofill:hover, input[type='text']:-webkit-autofill:focus, input[type='text']:-webkit-autofill:active,
  input[type='email']:-webkit-autofill,
  input[type='email']:-webkit-autofill:hover,
  input[type='email']:-webkit-autofill:focus,
  input[type='email']:-webkit-autofill:active,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus,
  select:-webkit-autofill:active,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  textarea:-webkit-autofill:active {
    -webkit-text-fill-color: #444444;
    transition-property: background-color;
    transition-delay: 99999s;
    -webkit-transition-delay: 99999s; }

textarea {
  height: 72px;
  padding-top: 8px; }

input[type='submit'] {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

img {
  max-width: 100%;
  display: block; }

a {
  text-decoration: none;
  color: #444444;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif; }
  @media only screen and (min-width: 1080px) {
    a {
      font-size: 14px; } }
  @media only screen and (min-width: 1800px) {
    a {
      font-size: 16px; } }
  a:hover {
    text-decoration: none;
    color: #444444; }

p {
  margin: 0 0 8px 0;
  padding: 0;
  font-size: 13px;
  line-height: 1.4em; }
  @media only screen and (min-width: 1080px) {
    p {
      font-size: 14px; } }
  @media only screen and (min-width: 1800px) {
    p {
      font-size: 16px; } }
  p.is-small {
    font-size: 13px;
    line-height: 14px; }
  p.is-medium {
    font-size: 14px;
    line-height: 18px; }
  p.is-large {
    font-size: 20px;
    line-height: 26px; }

.clearfix, .ih-s-section .in-b-container, .ih-b-container {
  *zoom: 1; }
  .clearfix:before, .ih-s-section .in-b-container:before, .ih-b-container:before, .clearfix:after, .ih-s-section .in-b-container:after, .ih-b-container:after {
    content: " ";
    display: table; }
  .clearfix:after, .ih-s-section .in-b-container:after, .ih-b-container:after {
    clear: both; }

.row-fluid {
  *zoom: 1; }
  .row-fluid:before {
    content: "";
    display: table; }
  .row-fluid:after {
    content: "";
    display: table;
    clear: both; }
  .row-fluid [class*="span-"] {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left; }
    .row-fluid [class*="span-"]:first-child {
      margin-left: 0 !important; }
  .row-fluid .no-gutter {
    margin-left: 0 !important; }
  .row-fluid .pull-right {
    float: right; }
  .row-fluid .span-1 {
    width: 100%; }
  .row-fluid .span-2 {
    width: 100%; }
  .row-fluid .span-3 {
    width: 100%; }
  .row-fluid .span-4 {
    width: 100%; }
  .row-fluid .span-5 {
    width: 100%; }
  .row-fluid .span-6 {
    width: 100%; }
  .row-fluid .span-7 {
    width: 100%; }
  .row-fluid .span-8 {
    width: 100%; }
  .row-fluid .span-9 {
    width: 100%; }
  .row-fluid .span-10 {
    width: 100%; }
  .row-fluid .span-11 {
    width: 100%; }
  .row-fluid .span-12 {
    width: 100%; }
  @media only screen and (min-width: 768px) {
    .row-fluid .span-1 {
      width: 6.3802083333%; }
    .row-fluid [class*="span-"].offset-1 {
      margin-left: 8.4635416667% !important; }
    .row-fluid [class*="span-"].pull-right.offset-1 {
      margin-right: 8.4635416667% !important;
      margin-left: 0 !important; }
    .row-fluid .span-2 {
      width: 14.84375%; }
    .row-fluid [class*="span-"].offset-2 {
      margin-left: 16.9270833333% !important; }
    .row-fluid [class*="span-"].pull-right.offset-2 {
      margin-right: 16.9270833333% !important;
      margin-left: 0 !important; }
    .row-fluid .span-3 {
      width: 23.3072916667%; }
    .row-fluid [class*="span-"].offset-3 {
      margin-left: 25.390625% !important; }
    .row-fluid [class*="span-"].pull-right.offset-3 {
      margin-right: 25.390625% !important;
      margin-left: 0 !important; }
    .row-fluid .span-4 {
      width: 31.7708333333%; }
    .row-fluid [class*="span-"].offset-4 {
      margin-left: 33.8541666667% !important; }
    .row-fluid [class*="span-"].pull-right.offset-4 {
      margin-right: 33.8541666667% !important;
      margin-left: 0 !important; }
    .row-fluid .span-5 {
      width: 40.234375%; }
    .row-fluid [class*="span-"].offset-5 {
      margin-left: 42.3177083333% !important; }
    .row-fluid [class*="span-"].pull-right.offset-5 {
      margin-right: 42.3177083333% !important;
      margin-left: 0 !important; }
    .row-fluid .span-6 {
      width: 48.6979166667%; }
    .row-fluid [class*="span-"].offset-6 {
      margin-left: 50.78125% !important; }
    .row-fluid [class*="span-"].pull-right.offset-6 {
      margin-right: 50.78125% !important;
      margin-left: 0 !important; }
    .row-fluid .span-7 {
      width: 57.1614583333%; }
    .row-fluid [class*="span-"].offset-7 {
      margin-left: 59.2447916667% !important; }
    .row-fluid [class*="span-"].pull-right.offset-7 {
      margin-right: 59.2447916667% !important;
      margin-left: 0 !important; }
    .row-fluid .span-8 {
      width: 65.625%; }
    .row-fluid [class*="span-"].offset-8 {
      margin-left: 67.7083333333% !important; }
    .row-fluid [class*="span-"].pull-right.offset-8 {
      margin-right: 67.7083333333% !important;
      margin-left: 0 !important; }
    .row-fluid .span-9 {
      width: 74.0885416667%; }
    .row-fluid [class*="span-"].offset-9 {
      margin-left: 76.171875% !important; }
    .row-fluid [class*="span-"].pull-right.offset-9 {
      margin-right: 76.171875% !important;
      margin-left: 0 !important; }
    .row-fluid .span-10 {
      width: 82.5520833333%; }
    .row-fluid [class*="span-"].offset-10 {
      margin-left: 84.6354166667% !important; }
    .row-fluid [class*="span-"].pull-right.offset-10 {
      margin-right: 84.6354166667% !important;
      margin-left: 0 !important; }
    .row-fluid .span-11 {
      width: 91.015625%; }
    .row-fluid [class*="span-"].offset-11 {
      margin-left: 93.0989583333% !important; }
    .row-fluid [class*="span-"].pull-right.offset-11 {
      margin-right: 93.0989583333% !important;
      margin-left: 0 !important; }
    .row-fluid .span-12 {
      width: 99.4791666667%; }
    .row-fluid [class*="span-"].offset-12 {
      margin-left: 101.5625% !important; }
    .row-fluid [class*="span-"].pull-right.offset-12 {
      margin-right: 101.5625% !important;
      margin-left: 0 !important; }
    .row-fluid [class*="span-"],
    .row-fluid [class*="span-"].has-gutter {
      margin-left: 2.0833333333%; } }
  @media only screen and (min-width: 1080px) {
    .row-fluid .span-1 {
      width: 6.5533980583%; }
    .row-fluid .offset-1 {
      margin-left: 8.4951456311% !important; }
    .row-fluid [class*="span-"].pull-right.offset-1 {
      margin-right: 8.4951456311% !important;
      margin-left: 0 !important; }
    .row-fluid .span-2 {
      width: 15.0485436893%; }
    .row-fluid .offset-2 {
      margin-left: 16.9902912621% !important; }
    .row-fluid [class*="span-"].pull-right.offset-2 {
      margin-right: 16.9902912621% !important;
      margin-left: 0 !important; }
    .row-fluid .span-3 {
      width: 23.5436893204%; }
    .row-fluid .offset-3 {
      margin-left: 25.4854368932% !important; }
    .row-fluid [class*="span-"].pull-right.offset-3 {
      margin-right: 25.4854368932% !important;
      margin-left: 0 !important; }
    .row-fluid .span-4 {
      width: 32.0388349515%; }
    .row-fluid .offset-4 {
      margin-left: 33.9805825243% !important; }
    .row-fluid [class*="span-"].pull-right.offset-4 {
      margin-right: 33.9805825243% !important;
      margin-left: 0 !important; }
    .row-fluid .span-5 {
      width: 40.5339805825%; }
    .row-fluid .offset-5 {
      margin-left: 42.4757281553% !important; }
    .row-fluid [class*="span-"].pull-right.offset-5 {
      margin-right: 42.4757281553% !important;
      margin-left: 0 !important; }
    .row-fluid .span-6 {
      width: 49.0291262136%; }
    .row-fluid .offset-6 {
      margin-left: 50.9708737864% !important; }
    .row-fluid [class*="span-"].pull-right.offset-6 {
      margin-right: 50.9708737864% !important;
      margin-left: 0 !important; }
    .row-fluid .span-7 {
      width: 57.5242718447%; }
    .row-fluid .offset-7 {
      margin-left: 59.4660194175% !important; }
    .row-fluid [class*="span-"].pull-right.offset-7 {
      margin-right: 59.4660194175% !important;
      margin-left: 0 !important; }
    .row-fluid .span-8 {
      width: 66.0194174757%; }
    .row-fluid .offset-8 {
      margin-left: 67.9611650485% !important; }
    .row-fluid [class*="span-"].pull-right.offset-8 {
      margin-right: 67.9611650485% !important;
      margin-left: 0 !important; }
    .row-fluid .span-9 {
      width: 74.5145631068%; }
    .row-fluid .offset-9 {
      margin-left: 76.4563106796% !important; }
    .row-fluid [class*="span-"].pull-right.offset-9 {
      margin-right: 76.4563106796% !important;
      margin-left: 0 !important; }
    .row-fluid .span-10 {
      width: 83.0097087379%; }
    .row-fluid .offset-10 {
      margin-left: 84.9514563107% !important; }
    .row-fluid [class*="span-"].pull-right.offset-10 {
      margin-right: 84.9514563107% !important;
      margin-left: 0 !important; }
    .row-fluid .span-11 {
      width: 91.5048543689%; }
    .row-fluid .offset-11 {
      margin-left: 93.4466019417% !important; }
    .row-fluid [class*="span-"].pull-right.offset-11 {
      margin-right: 93.4466019417% !important;
      margin-left: 0 !important; }
    .row-fluid .span-12 {
      width: 100%; }
    .row-fluid .offset-12 {
      margin-left: 101.9417475728% !important; }
    .row-fluid [class*="span-"].pull-right.offset-12 {
      margin-right: 101.9417475728% !important;
      margin-left: 0 !important; }
    .row-fluid [class*="span-"],
    .row-fluid [class*="span-"].has-gutter {
      margin-left: 1.9417475728%; } }

.mobile-hide {
  display: none !important; }

@media only screen and (min-width: 768px) {
  .mobile-hide {
    display: inherit !important; }

  .tablet-hide {
    display: none !important; } }
@media only screen and (min-width: 1080px) {
  .mobile-hide {
    display: inherit !important; }

  .tablet-hide {
    display: inherit !important; }

  .desktop-hide {
    display: none !important; } }
.ih-s-section {
  z-index: 1;
  padding-top: 60px;
  padding-bottom: 60px; }
  @media only screen and (min-width: 1080px) {
    .ih-s-section {
      padding-top: 120px;
      padding-bottom: 120px; } }
  .ih-s-section .in-b-container {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto; }
    @media only screen and (min-width: 1080px) {
      .ih-s-section .in-b-container {
        padding-left: 80px;
        padding-right: 80px; } }
    @media only screen and (min-width: 1800px) {
      .ih-s-section .in-b-container {
        padding-left: 150px;
        padding-right: 150px; } }

.ih-b-container {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1170px;
  margin: 0 auto; }

ul, li {
  margin: 0;
  padding: 0;
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 8px 0;
  padding: 0;
  line-height: 1.2em;
  font-family: 'Montserrat', sans-serif; }

h1 {
  font-size: 32px;
  line-height: 36px; }

h2 {
  font-size: 28px;
  line-height: 34px; }

h3 {
  font-size: 22px;
  line-height: 26px; }

h4, h5, h6 {
  font-size: 20px;
  line-height: 24px; }

blockquote {
  font-size: 20px;
  line-height: 24px; }

.slick-slider {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text; }

@media only screen and (min-width: 768px) {
  body {
    font-size: 14px;
    line-height: 20px; }

  h1 {
    font-size: 40px;
    line-height: 44px; }

  h2 {
    font-size: 32px;
    line-height: 36px; }

  h3 {
    font-size: 24px;
    line-height: 28px; }

  button {
    width: auto; } }
@media only screen and (min-width: 1080px) {
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 16px; }

  h1 {
    font-size: 48px;
    line-height: 50px; }

  h2 {
    font-size: 36px;
    line-height: 40px; }

  h3 {
    font-size: 28px;
    line-height: 32px; }

  blockquote {
    font-size: 24px;
    line-height: 28px; } }
.gmnoprint {
  display: none; }

button[type=submit] {
  cursor: pointer; }

.ih-nav-icon {
  width: 25px;
  height: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  z-index: 1; }
  .ih-nav-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #444;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out; }
    .ih-nav-icon span:nth-child(1) {
      top: 0; }
    .ih-nav-icon span:nth-child(2) {
      top: 6px;
      width: 25px;
      background-color: #ef1e2e; }
    .ih-nav-icon span:nth-child(3) {
      top: 12px; }
  .show-menu .ih-nav-icon span:nth-child(1) {
    top: 6px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg); }
  .show-menu .ih-nav-icon span:nth-child(2) {
    opacity: 0;
    left: -20px; }
  .show-menu .ih-nav-icon span:nth-child(3) {
    top: 6px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg); }

/*
   .-----------------------------------------------------.
   |                       Loading                       |
   '-----------------------------------------------------'
*/
.ih-b-loading-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background: white; }
  .ih-b-loading-wrapper .ih-b-body {
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 50px;
    height: 10px;
    position: relative; }
    .ih-b-loading-wrapper .ih-b-body .ih-line {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 0;
      height: 10px;
      background-color: #444444;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
      .ih-b-loading-wrapper .ih-b-body .ih-line:first-child {
        animation: loadingLine1 3s ease infinite; }
      .ih-b-loading-wrapper .ih-b-body .ih-line:last-child {
        animation: loadingLine2 3s ease infinite; }

@-webkit-keyframes loadingLine1 {
  0% {
    width: 0; }
  16.66% {
    width: 50px; }
  33.32% {
    width: 50px;
    -webkit-transform: translate(-50%, -50%) rotate(0);
    -moz-transform: translate(-50%, -50%) rotate(0);
    -o-transform: translate(-50%, -50%) rotate(0);
    -ms-transform: translate(-50%, -50%) rotate(0);
    transform: translate(-50%, -50%) rotate(0); }
  49.98% {
    width: 50px;
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
    -moz-transform: translate(-50%, -50%) rotate(90deg);
    -o-transform: translate(-50%, -50%) rotate(90deg);
    -ms-transform: translate(-50%, -50%) rotate(90deg);
    transform: translate(-50%, -50%) rotate(90deg); }
  66.64% {
    width: 50px;
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
    -moz-transform: translate(-50%, -50%) rotate(90deg);
    -o-transform: translate(-50%, -50%) rotate(90deg);
    -ms-transform: translate(-50%, -50%) rotate(90deg);
    transform: translate(-50%, -50%) rotate(90deg); }
  83.3% {
    width: 0;
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
    -moz-transform: translate(-50%, -50%) rotate(90deg);
    -o-transform: translate(-50%, -50%) rotate(90deg);
    -ms-transform: translate(-50%, -50%) rotate(90deg);
    transform: translate(-50%, -50%) rotate(90deg); }
  100% {
    width: 0;
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
    -moz-transform: translate(-50%, -50%) rotate(90deg);
    -o-transform: translate(-50%, -50%) rotate(90deg);
    -ms-transform: translate(-50%, -50%) rotate(90deg);
    transform: translate(-50%, -50%) rotate(90deg); } }
@-moz-keyframes loadingLine1 {
  0% {
    width: 0; }
  16.66% {
    width: 50px; }
  33.32% {
    width: 50px;
    -webkit-transform: translate(-50%, -50%) rotate(0);
    -moz-transform: translate(-50%, -50%) rotate(0);
    -o-transform: translate(-50%, -50%) rotate(0);
    -ms-transform: translate(-50%, -50%) rotate(0);
    transform: translate(-50%, -50%) rotate(0); }
  49.98% {
    width: 50px;
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
    -moz-transform: translate(-50%, -50%) rotate(90deg);
    -o-transform: translate(-50%, -50%) rotate(90deg);
    -ms-transform: translate(-50%, -50%) rotate(90deg);
    transform: translate(-50%, -50%) rotate(90deg); }
  66.64% {
    width: 50px;
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
    -moz-transform: translate(-50%, -50%) rotate(90deg);
    -o-transform: translate(-50%, -50%) rotate(90deg);
    -ms-transform: translate(-50%, -50%) rotate(90deg);
    transform: translate(-50%, -50%) rotate(90deg); }
  83.3% {
    width: 0;
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
    -moz-transform: translate(-50%, -50%) rotate(90deg);
    -o-transform: translate(-50%, -50%) rotate(90deg);
    -ms-transform: translate(-50%, -50%) rotate(90deg);
    transform: translate(-50%, -50%) rotate(90deg); }
  100% {
    width: 0;
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
    -moz-transform: translate(-50%, -50%) rotate(90deg);
    -o-transform: translate(-50%, -50%) rotate(90deg);
    -ms-transform: translate(-50%, -50%) rotate(90deg);
    transform: translate(-50%, -50%) rotate(90deg); } }
@-ms-keyframes loadingLine1 {
  0% {
    width: 0; }
  16.66% {
    width: 50px; }
  33.32% {
    width: 50px;
    -webkit-transform: translate(-50%, -50%) rotate(0);
    -moz-transform: translate(-50%, -50%) rotate(0);
    -o-transform: translate(-50%, -50%) rotate(0);
    -ms-transform: translate(-50%, -50%) rotate(0);
    transform: translate(-50%, -50%) rotate(0); }
  49.98% {
    width: 50px;
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
    -moz-transform: translate(-50%, -50%) rotate(90deg);
    -o-transform: translate(-50%, -50%) rotate(90deg);
    -ms-transform: translate(-50%, -50%) rotate(90deg);
    transform: translate(-50%, -50%) rotate(90deg); }
  66.64% {
    width: 50px;
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
    -moz-transform: translate(-50%, -50%) rotate(90deg);
    -o-transform: translate(-50%, -50%) rotate(90deg);
    -ms-transform: translate(-50%, -50%) rotate(90deg);
    transform: translate(-50%, -50%) rotate(90deg); }
  83.3% {
    width: 0;
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
    -moz-transform: translate(-50%, -50%) rotate(90deg);
    -o-transform: translate(-50%, -50%) rotate(90deg);
    -ms-transform: translate(-50%, -50%) rotate(90deg);
    transform: translate(-50%, -50%) rotate(90deg); }
  100% {
    width: 0;
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
    -moz-transform: translate(-50%, -50%) rotate(90deg);
    -o-transform: translate(-50%, -50%) rotate(90deg);
    -ms-transform: translate(-50%, -50%) rotate(90deg);
    transform: translate(-50%, -50%) rotate(90deg); } }
@-o-keyframes loadingLine1 {
  0% {
    width: 0; }
  16.66% {
    width: 50px; }
  33.32% {
    width: 50px;
    -webkit-transform: translate(-50%, -50%) rotate(0);
    -moz-transform: translate(-50%, -50%) rotate(0);
    -o-transform: translate(-50%, -50%) rotate(0);
    -ms-transform: translate(-50%, -50%) rotate(0);
    transform: translate(-50%, -50%) rotate(0); }
  49.98% {
    width: 50px;
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
    -moz-transform: translate(-50%, -50%) rotate(90deg);
    -o-transform: translate(-50%, -50%) rotate(90deg);
    -ms-transform: translate(-50%, -50%) rotate(90deg);
    transform: translate(-50%, -50%) rotate(90deg); }
  66.64% {
    width: 50px;
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
    -moz-transform: translate(-50%, -50%) rotate(90deg);
    -o-transform: translate(-50%, -50%) rotate(90deg);
    -ms-transform: translate(-50%, -50%) rotate(90deg);
    transform: translate(-50%, -50%) rotate(90deg); }
  83.3% {
    width: 0;
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
    -moz-transform: translate(-50%, -50%) rotate(90deg);
    -o-transform: translate(-50%, -50%) rotate(90deg);
    -ms-transform: translate(-50%, -50%) rotate(90deg);
    transform: translate(-50%, -50%) rotate(90deg); }
  100% {
    width: 0;
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
    -moz-transform: translate(-50%, -50%) rotate(90deg);
    -o-transform: translate(-50%, -50%) rotate(90deg);
    -ms-transform: translate(-50%, -50%) rotate(90deg);
    transform: translate(-50%, -50%) rotate(90deg); } }
@keyframes loadingLine1 {
  0% {
    width: 0; }
  16.66% {
    width: 50px; }
  33.32% {
    width: 50px;
    -webkit-transform: translate(-50%, -50%) rotate(0);
    -moz-transform: translate(-50%, -50%) rotate(0);
    -o-transform: translate(-50%, -50%) rotate(0);
    -ms-transform: translate(-50%, -50%) rotate(0);
    transform: translate(-50%, -50%) rotate(0); }
  49.98% {
    width: 50px;
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
    -moz-transform: translate(-50%, -50%) rotate(90deg);
    -o-transform: translate(-50%, -50%) rotate(90deg);
    -ms-transform: translate(-50%, -50%) rotate(90deg);
    transform: translate(-50%, -50%) rotate(90deg); }
  66.64% {
    width: 50px;
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
    -moz-transform: translate(-50%, -50%) rotate(90deg);
    -o-transform: translate(-50%, -50%) rotate(90deg);
    -ms-transform: translate(-50%, -50%) rotate(90deg);
    transform: translate(-50%, -50%) rotate(90deg); }
  83.3% {
    width: 0;
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
    -moz-transform: translate(-50%, -50%) rotate(90deg);
    -o-transform: translate(-50%, -50%) rotate(90deg);
    -ms-transform: translate(-50%, -50%) rotate(90deg);
    transform: translate(-50%, -50%) rotate(90deg); }
  100% {
    width: 0;
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
    -moz-transform: translate(-50%, -50%) rotate(90deg);
    -o-transform: translate(-50%, -50%) rotate(90deg);
    -ms-transform: translate(-50%, -50%) rotate(90deg);
    transform: translate(-50%, -50%) rotate(90deg); } }
@-webkit-keyframes loadingLine2 {
  0% {
    width: 0; }
  16.66% {
    width: 50px;
    -webkit-transform: translate(-50%, -50%) rotate(0);
    -moz-transform: translate(-50%, -50%) rotate(0);
    -o-transform: translate(-50%, -50%) rotate(0);
    -ms-transform: translate(-50%, -50%) rotate(0);
    transform: translate(-50%, -50%) rotate(0); }
  33.32% {
    width: 50px;
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
    -moz-transform: translate(-50%, -50%) rotate(90deg);
    -o-transform: translate(-50%, -50%) rotate(90deg);
    -ms-transform: translate(-50%, -50%) rotate(90deg);
    transform: translate(-50%, -50%) rotate(90deg); }
  49.98% {
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
    -moz-transform: translate(-50%, -50%) rotate(180deg);
    -o-transform: translate(-50%, -50%) rotate(180deg);
    -ms-transform: translate(-50%, -50%) rotate(180deg);
    transform: translate(-50%, -50%) rotate(180deg); }
  66.64% {
    width: 50px;
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
    -moz-transform: translate(-50%, -50%) rotate(180deg);
    -o-transform: translate(-50%, -50%) rotate(180deg);
    -ms-transform: translate(-50%, -50%) rotate(180deg);
    transform: translate(-50%, -50%) rotate(180deg); }
  83.3% {
    width: 50px;
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
    -moz-transform: translate(-50%, -50%) rotate(180deg);
    -o-transform: translate(-50%, -50%) rotate(180deg);
    -ms-transform: translate(-50%, -50%) rotate(180deg);
    transform: translate(-50%, -50%) rotate(180deg); }
  100% {
    width: 0;
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
    -moz-transform: translate(-50%, -50%) rotate(180deg);
    -o-transform: translate(-50%, -50%) rotate(180deg);
    -ms-transform: translate(-50%, -50%) rotate(180deg);
    transform: translate(-50%, -50%) rotate(180deg); } }
@-moz-keyframes loadingLine2 {
  0% {
    width: 0; }
  16.66% {
    width: 50px;
    -webkit-transform: translate(-50%, -50%) rotate(0);
    -moz-transform: translate(-50%, -50%) rotate(0);
    -o-transform: translate(-50%, -50%) rotate(0);
    -ms-transform: translate(-50%, -50%) rotate(0);
    transform: translate(-50%, -50%) rotate(0); }
  33.32% {
    width: 50px;
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
    -moz-transform: translate(-50%, -50%) rotate(90deg);
    -o-transform: translate(-50%, -50%) rotate(90deg);
    -ms-transform: translate(-50%, -50%) rotate(90deg);
    transform: translate(-50%, -50%) rotate(90deg); }
  49.98% {
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
    -moz-transform: translate(-50%, -50%) rotate(180deg);
    -o-transform: translate(-50%, -50%) rotate(180deg);
    -ms-transform: translate(-50%, -50%) rotate(180deg);
    transform: translate(-50%, -50%) rotate(180deg); }
  66.64% {
    width: 50px;
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
    -moz-transform: translate(-50%, -50%) rotate(180deg);
    -o-transform: translate(-50%, -50%) rotate(180deg);
    -ms-transform: translate(-50%, -50%) rotate(180deg);
    transform: translate(-50%, -50%) rotate(180deg); }
  83.3% {
    width: 50px;
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
    -moz-transform: translate(-50%, -50%) rotate(180deg);
    -o-transform: translate(-50%, -50%) rotate(180deg);
    -ms-transform: translate(-50%, -50%) rotate(180deg);
    transform: translate(-50%, -50%) rotate(180deg); }
  100% {
    width: 0;
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
    -moz-transform: translate(-50%, -50%) rotate(180deg);
    -o-transform: translate(-50%, -50%) rotate(180deg);
    -ms-transform: translate(-50%, -50%) rotate(180deg);
    transform: translate(-50%, -50%) rotate(180deg); } }
@-ms-keyframes loadingLine2 {
  0% {
    width: 0; }
  16.66% {
    width: 50px;
    -webkit-transform: translate(-50%, -50%) rotate(0);
    -moz-transform: translate(-50%, -50%) rotate(0);
    -o-transform: translate(-50%, -50%) rotate(0);
    -ms-transform: translate(-50%, -50%) rotate(0);
    transform: translate(-50%, -50%) rotate(0); }
  33.32% {
    width: 50px;
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
    -moz-transform: translate(-50%, -50%) rotate(90deg);
    -o-transform: translate(-50%, -50%) rotate(90deg);
    -ms-transform: translate(-50%, -50%) rotate(90deg);
    transform: translate(-50%, -50%) rotate(90deg); }
  49.98% {
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
    -moz-transform: translate(-50%, -50%) rotate(180deg);
    -o-transform: translate(-50%, -50%) rotate(180deg);
    -ms-transform: translate(-50%, -50%) rotate(180deg);
    transform: translate(-50%, -50%) rotate(180deg); }
  66.64% {
    width: 50px;
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
    -moz-transform: translate(-50%, -50%) rotate(180deg);
    -o-transform: translate(-50%, -50%) rotate(180deg);
    -ms-transform: translate(-50%, -50%) rotate(180deg);
    transform: translate(-50%, -50%) rotate(180deg); }
  83.3% {
    width: 50px;
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
    -moz-transform: translate(-50%, -50%) rotate(180deg);
    -o-transform: translate(-50%, -50%) rotate(180deg);
    -ms-transform: translate(-50%, -50%) rotate(180deg);
    transform: translate(-50%, -50%) rotate(180deg); }
  100% {
    width: 0;
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
    -moz-transform: translate(-50%, -50%) rotate(180deg);
    -o-transform: translate(-50%, -50%) rotate(180deg);
    -ms-transform: translate(-50%, -50%) rotate(180deg);
    transform: translate(-50%, -50%) rotate(180deg); } }
@-o-keyframes loadingLine2 {
  0% {
    width: 0; }
  16.66% {
    width: 50px;
    -webkit-transform: translate(-50%, -50%) rotate(0);
    -moz-transform: translate(-50%, -50%) rotate(0);
    -o-transform: translate(-50%, -50%) rotate(0);
    -ms-transform: translate(-50%, -50%) rotate(0);
    transform: translate(-50%, -50%) rotate(0); }
  33.32% {
    width: 50px;
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
    -moz-transform: translate(-50%, -50%) rotate(90deg);
    -o-transform: translate(-50%, -50%) rotate(90deg);
    -ms-transform: translate(-50%, -50%) rotate(90deg);
    transform: translate(-50%, -50%) rotate(90deg); }
  49.98% {
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
    -moz-transform: translate(-50%, -50%) rotate(180deg);
    -o-transform: translate(-50%, -50%) rotate(180deg);
    -ms-transform: translate(-50%, -50%) rotate(180deg);
    transform: translate(-50%, -50%) rotate(180deg); }
  66.64% {
    width: 50px;
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
    -moz-transform: translate(-50%, -50%) rotate(180deg);
    -o-transform: translate(-50%, -50%) rotate(180deg);
    -ms-transform: translate(-50%, -50%) rotate(180deg);
    transform: translate(-50%, -50%) rotate(180deg); }
  83.3% {
    width: 50px;
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
    -moz-transform: translate(-50%, -50%) rotate(180deg);
    -o-transform: translate(-50%, -50%) rotate(180deg);
    -ms-transform: translate(-50%, -50%) rotate(180deg);
    transform: translate(-50%, -50%) rotate(180deg); }
  100% {
    width: 0;
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
    -moz-transform: translate(-50%, -50%) rotate(180deg);
    -o-transform: translate(-50%, -50%) rotate(180deg);
    -ms-transform: translate(-50%, -50%) rotate(180deg);
    transform: translate(-50%, -50%) rotate(180deg); } }
@keyframes loadingLine2 {
  0% {
    width: 0; }
  16.66% {
    width: 50px;
    -webkit-transform: translate(-50%, -50%) rotate(0);
    -moz-transform: translate(-50%, -50%) rotate(0);
    -o-transform: translate(-50%, -50%) rotate(0);
    -ms-transform: translate(-50%, -50%) rotate(0);
    transform: translate(-50%, -50%) rotate(0); }
  33.32% {
    width: 50px;
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
    -moz-transform: translate(-50%, -50%) rotate(90deg);
    -o-transform: translate(-50%, -50%) rotate(90deg);
    -ms-transform: translate(-50%, -50%) rotate(90deg);
    transform: translate(-50%, -50%) rotate(90deg); }
  49.98% {
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
    -moz-transform: translate(-50%, -50%) rotate(180deg);
    -o-transform: translate(-50%, -50%) rotate(180deg);
    -ms-transform: translate(-50%, -50%) rotate(180deg);
    transform: translate(-50%, -50%) rotate(180deg); }
  66.64% {
    width: 50px;
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
    -moz-transform: translate(-50%, -50%) rotate(180deg);
    -o-transform: translate(-50%, -50%) rotate(180deg);
    -ms-transform: translate(-50%, -50%) rotate(180deg);
    transform: translate(-50%, -50%) rotate(180deg); }
  83.3% {
    width: 50px;
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
    -moz-transform: translate(-50%, -50%) rotate(180deg);
    -o-transform: translate(-50%, -50%) rotate(180deg);
    -ms-transform: translate(-50%, -50%) rotate(180deg);
    transform: translate(-50%, -50%) rotate(180deg); }
  100% {
    width: 0;
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
    -moz-transform: translate(-50%, -50%) rotate(180deg);
    -o-transform: translate(-50%, -50%) rotate(180deg);
    -ms-transform: translate(-50%, -50%) rotate(180deg);
    transform: translate(-50%, -50%) rotate(180deg); } }
.ih-about-title {
  margin: 0;
  font-weight: 100;
  text-transform: uppercase;
  line-height: 1em;
  line-height: 1em; }
  .ih-about-title strong {
    display: block;
    font-weight: 500;
    line-height: 1em; }

.ih-arrow-down {
  display: inline-block;
  width: 30px;
  height: 20px;
  background-image: url(../images/arrow-down-white.svg);
  background-size: 30px 20px;
  background-repeat: no-repeat; }
  @media only screen and (min-width: 1080px) {
    .ih-arrow-down {
      width: 50px;
      height: 35px;
      background-size: 50px 35px;
      background-repeat: no-repeat; } }

.ih-sns {
  display: flex; }
  .ih-sns a {
    margin-right: 30px; }
    .ih-sns a img {
      height: 35px;
      filter: brightness(0.3); }
    .ih-sns a svg {
      height: 25px;
      width: auto; }
      .ih-sns a svg:last-child {
        margin-right: 0; }
      .ih-sns a svg path {
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
    .ih-sns a:hover svg path {
      fill: #ef1e2e !important;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
    .ih-sns a:last-child {
      margin-right: 0; }

.ih-b-work-item {
  height: 250px;
  padding: 30px;
  margin-bottom: 20px;
  background-size: cover;
  position: relative;
  overflow: hidden;
  width: 100%; }
  @media only screen and (min-width: 1080px) {
    .ih-b-work-item {
      height: 400px;
      right: 0;
      bottom: 0;
      z-index: 2; } }
  .ih-b-work-item:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background-color: #614e49b3;
    background: linear-gradient(180deg, #614e49b3 0%, rgba(0, 0, 0, 0) 100%);
    z-index: 1; }
  .ih-b-work-item a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    z-index: 2; }
  .ih-b-work-item figure {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0; }
    .ih-b-work-item figure img {
      width: 100%;
      height: 100%;
      max-width: none;
      object-fit: cover;
      transform: translate3d(0, 0, 0);
      width: calc(100% + 20px);
      -webkit-transition: all 0.35s ease;
      -moz-transition: all 0.35s ease;
      -o-transition: all 0.35s ease;
      transition: all 0.35s ease;
      -webkit-transform: translate3d(-10px, 0, 0);
      -moz-transform: translate3d(-10px, 0, 0);
      -o-transform: translate3d(-10px, 0, 0);
      -ms-transform: translate3d(-10px, 0, 0);
      transform: translate3d(-10px, 0, 0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden; }
  .ih-b-work-item .ih-content {
    position: relative;
    z-index: 1; }
    .ih-b-work-item .ih-content h3 {
      font-weight: 500;
      font-size: 15px;
      text-transform: uppercase;
      position: relative;
      padding-bottom: 10px;
      margin-bottom: 10px;
      line-height: 1.2em;
      overflow: hidden; }
      .ih-b-work-item .ih-content h3::after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        max-width: 540px;
        height: 2px;
        background-color: #fffffe;
        left: 0;
        bottom: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        -moz-transform: translate3d(-100%, 0, 0);
        -o-transform: translate3d(-100%, 0, 0);
        -ms-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        -webkit-transition: all 0.35s ease;
        -moz-transition: all 0.35s ease;
        -o-transition: all 0.35s ease;
        transition: all 0.35s ease; }
    .ih-b-work-item .ih-content p {
      opacity: 0;
      -webkit-transition: all 0.35s ease;
      -moz-transition: all 0.35s ease;
      -o-transition: all 0.35s ease;
      transition: all 0.35s ease;
      -webkit-transform: translate3d(100%, 0, 0);
      -moz-transform: translate3d(100%, 0, 0);
      -o-transform: translate3d(100%, 0, 0);
      -ms-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0); }
    @media only screen and (min-width: 1080px) {
      .ih-b-work-item .ih-content h3 {
        font-size: 36px; }
      .ih-b-work-item .ih-content p {
        font-size: 16px; } }
  .ih-b-work-item:hover .ih-content h3::after {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition: transform 0.35s;
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease; }
  .ih-b-work-item:hover .ih-content p {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease; }
  .ih-b-work-item:hover figure img {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease; }

.ih-b-html img {
  margin: 10px auto; }
.ih-b-html p {
  margin-bottom: 8px; }

.ih-img-popup {
  overflow: hidden; }
  .ih-img-popup a {
    position: relative; }
    .ih-img-popup a::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: #614e49b3;
      z-index: 1;
      opacity: 0;
      -webkit-transition: all 0.7s cubic-bezier(0.2, 1, 0.22, 1);
      -moz-transition: all 0.7s cubic-bezier(0.2, 1, 0.22, 1);
      -o-transition: all 0.7s cubic-bezier(0.2, 1, 0.22, 1);
      transition: all 0.7s cubic-bezier(0.2, 1, 0.22, 1); }
    .ih-img-popup a:hover::before {
      opacity: 1;
      -webkit-transition: all 0.7s cubic-bezier(0.2, 1, 0.22, 1);
      -moz-transition: all 0.7s cubic-bezier(0.2, 1, 0.22, 1);
      -o-transition: all 0.7s cubic-bezier(0.2, 1, 0.22, 1);
      transition: all 0.7s cubic-bezier(0.2, 1, 0.22, 1); }
    .ih-img-popup a:hover img {
      -webkit-transform: scale(1.07);
      -moz-transform: scale(1.07);
      -o-transform: scale(1.07);
      -ms-transform: scale(1.07);
      transform: scale(1.07);
      -webkit-transition: all 0.7s cubic-bezier(0.2, 1, 0.22, 1);
      -moz-transition: all 0.7s cubic-bezier(0.2, 1, 0.22, 1);
      -o-transition: all 0.7s cubic-bezier(0.2, 1, 0.22, 1);
      transition: all 0.7s cubic-bezier(0.2, 1, 0.22, 1); }

.ih-image-cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%; }
  .ih-image-cover img {
    display: none; }

header {
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: white;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1); }
  header .ih-b-container {
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    header .ih-b-container::after, header .ih-b-container::before {
      content: initial; }
    header .ih-b-container .ih-logo img {
      width: 60px; }
    header .ih-b-container .ih-nav-right {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      header .ih-b-container .ih-nav-right .ih-lang {
        margin-right: 10px;
        display: none; }
        header .ih-b-container .ih-nav-right .ih-lang a {
          color: white;
          font-weight: 300;
          opacity: 0.5;
          font-size: 13px;
          text-transform: uppercase;
          padding: 0 10px;
          border-right: 1px solid white; }
          header .ih-b-container .ih-nav-right .ih-lang a.active {
            opacity: 1;
            font-weight: 500; }
          header .ih-b-container .ih-nav-right .ih-lang a:last-child {
            border-right: 0; }
        .show-menu header .ih-b-container .ih-nav-right .ih-lang {
          display: initial; }

.news-item {
  margin-bottom: 15px; }
  .news-item:last-child {
    margin-bottom: 0; }
  .news-item figure {
    margin: 0 0 5px;
    width: 100%;
    height: 200px; }
    .news-item figure a img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .news-item .ih-des a {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 18px;
    /* fallback */
    max-height: 36px;
    /* fallback */
    -webkit-line-clamp: 2;
    /* number of lines to show */
    -webkit-box-orient: vertical; }
  .news-item .ih-des p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 18px;
    /* fallback */
    max-height: 36px;
    /* fallback */
    -webkit-line-clamp: 2;
    /* number of lines to show */
    -webkit-box-orient: vertical; }
  .news-item.item-sidebar {
    display: flex;
    align-items: flex-start;
    justify-content: space-between; }
    .news-item.item-sidebar figure {
      margin: 0;
      width: 120px;
      height: 80px; }
    .news-item.item-sidebar .ih-des {
      width: calc(100% - 130px);
      height: auto; }
      .news-item.item-sidebar .ih-des a {
        max-height: 54px;
        /* fallback */
        -webkit-line-clamp: 3;
        /* number of lines to show */ }
  @media only screen and (min-width: 768px) {
    .news-item figure {
      height: 180px; }
    .news-item .ih-des {
      height: 95px; }
      .news-item .ih-des p {
        display: -webkit-box;
        line-height: 18px;
        /* fallback */
        max-height: 54px;
        /* fallback */
        -webkit-line-clamp: 3;
        /* number of lines to show */ } }

.ih-s-menu {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 9;
  background-color: white;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%); }
  .ih-s-menu .ih-b-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center; }
    .ih-s-menu .ih-b-container ul li {
      margin-bottom: 20px; }
      .ih-s-menu .ih-b-container ul li a {
        font-size: 30px;
        line-height: 1em;
        color: black;
        position: relative;
        font-weight: 500;
        text-transform: uppercase; }
        .ih-s-menu .ih-b-container ul li a::before {
          content: "";
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          height: 2px;
          background-color: black; }
        .ih-s-menu .ih-b-container ul li a:hover::before {
          width: 100%; }
      .ih-s-menu .ih-b-container ul li.dropdown {
        margin-bottom: 0; }
        .ih-s-menu .ih-b-container ul li.dropdown .dropdown-toggle {
          position: relative;
          margin-bottom: 20px;
          display: inline-block; }
          .ih-s-menu .ih-b-container ul li.dropdown .dropdown-toggle::before {
            content: "";
            display: block;
            position: absolute;
            right: -5px;
            top: 50%;
            left: initial;
            width: 20px;
            height: 11px;
            background-image: url(../images/icon-arrow-down.png);
            background-size: 20px 11px;
            background-color: transparent;
            -webkit-transform: translate(100%, -50%);
            -moz-transform: translate(100%, -50%);
            -o-transform: translate(100%, -50%);
            -ms-transform: translate(100%, -50%);
            transform: translate(100%, -50%); }
        .ih-s-menu .ih-b-container ul li.dropdown .dropdown-menu {
          display: none; }
          .ih-s-menu .ih-b-container ul li.dropdown .dropdown-menu li:last-child {
            margin-bottom: 20px; }
          .ih-s-menu .ih-b-container ul li.dropdown .dropdown-menu li a::before {
            width: 0 !important; }
          .ih-s-menu .ih-b-container ul li.dropdown .dropdown-menu li a:hover::before {
            width: 100% !important; }
          .ih-s-menu .ih-b-container ul li.dropdown .dropdown-menu li.active a::before {
            width: 100% !important; }
      .ih-s-menu .ih-b-container ul li.active a::before {
        width: 100%; }
      .ih-s-menu .ih-b-container ul li:last-child {
        margin-bottom: 0; }
  .show-menu .ih-s-menu {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }

.ih-s-home .ih-b-container .ih-b-news {
  margin-bottom: 30px; }
.ih-s-home .ih-b-container .span-8 .span-6:nth-child(2n + 1) {
  margin-left: 0; }
@media only screen and (min-width: 768px) {
  .ih-s-home {
    padding: 120px 0; } }

.ih-b-sidebar h3 {
  text-transform: uppercase; }

.fb-comment {
  margin-bottom: 20px; }

.ih-s-post-detail .ih-b-container .ih-b-news-content .ih-b-head {
  margin-bottom: 20px; }
  .ih-s-post-detail .ih-b-container .ih-b-news-content .ih-b-head img {
    margin-bottom: 10px; }
  .ih-s-post-detail .ih-b-container .ih-b-news-content .ih-b-head h3 {
    margin-bottom: 10px; }

footer {
  padding: 40px 0 20px;
  background-color: black;
  color: white; }
  footer .ih-b-container .ih-b-footer .ih-b-left p {
    font-weight: 500; }
  footer .ih-b-container .ih-b-footer .ih-b-left form {
    position: relative;
    margin-bottom: 20px; }
    footer .ih-b-container .ih-b-footer .ih-b-left form input {
      appearance: none;
      width: 100%;
      padding: 10px 0;
      background-color: transparent;
      border: 0;
      border-bottom: 1px solid white; }
    footer .ih-b-container .ih-b-footer .ih-b-left form button {
      width: 20px;
      height: 30px;
      padding: 0;
      position: absolute;
      top: 50%;
      right: 0;
      background: transparent;
      border: 0;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
      footer .ih-b-container .ih-b-footer .ih-b-left form button img {
        width: 100%;
        height: 100%;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg); }
  footer .ih-b-container .ih-b-footer .ih-b-right ul {
    margin-bottom: 20px; }
    footer .ih-b-container .ih-b-footer .ih-b-right ul li {
      margin-bottom: 10px; }
      footer .ih-b-container .ih-b-footer .ih-b-right ul li a {
        line-height: 1em;
        color: white;
        position: relative;
        font-weight: 500;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out; }
        footer .ih-b-container .ih-b-footer .ih-b-right ul li a:hover {
          color: #ef1e2e;
          -webkit-transition: all 0.4s ease-in-out;
          -moz-transition: all 0.4s ease-in-out;
          -o-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out; }
      footer .ih-b-container .ih-b-footer .ih-b-right ul li.dropdown {
        margin-bottom: 0; }
        footer .ih-b-container .ih-b-footer .ih-b-right ul li.dropdown .dropdown-toggle {
          position: relative;
          margin-bottom: 10px;
          display: inline-block; }
          footer .ih-b-container .ih-b-footer .ih-b-right ul li.dropdown .dropdown-toggle::before {
            content: "";
            display: block;
            position: absolute;
            right: -5px;
            top: 50%;
            left: initial;
            width: 10px;
            height: 6px;
            background-image: url(../images/icon-arrow-down.png);
            background-size: 10px 6px;
            background-color: transparent;
            -webkit-transform: translate(100%, -50%);
            -moz-transform: translate(100%, -50%);
            -o-transform: translate(100%, -50%);
            -ms-transform: translate(100%, -50%);
            transform: translate(100%, -50%); }
        footer .ih-b-container .ih-b-footer .ih-b-right ul li.dropdown .dropdown-menu {
          display: none;
          margin-bottom: 0;
          position: absolute;
          background: white;
          z-index: 1; }
          footer .ih-b-container .ih-b-footer .ih-b-right ul li.dropdown .dropdown-menu li {
            margin-bottom: 0; }
            footer .ih-b-container .ih-b-footer .ih-b-right ul li.dropdown .dropdown-menu li a {
              padding: 7px 10px;
              display: block;
              color: white; }
      footer .ih-b-container .ih-b-footer .ih-b-right ul li:last-child {
        margin-bottom: 0; }
  footer .ih-b-container .ih-b-footer .ih-b-right .ih-contact .ih-sns {
    margin-bottom: 20px; }
    footer .ih-b-container .ih-b-footer .ih-b-right .ih-contact .ih-sns a img {
      filter: brightness(0) invert(1);
      height: 26px; }

.ih-s-contact {
  background-size: cover;
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  min-height: 100vh; }
  .ih-s-contact .ih-b-container {
    z-index: 2; }
    .ih-s-contact .ih-b-container .row-fluid .ih-info {
      margin-bottom: 60px; }
      .ih-s-contact .ih-b-container .row-fluid .ih-info p {
        margin-bottom: 15px;
        display: flex;
        max-width: 400px; }
        .ih-s-contact .ih-b-container .row-fluid .ih-info p strong {
          min-width: 95px;
          color: #ef1e2e;
          text-transform: uppercase;
          display: inline-block; }
        .ih-s-contact .ih-b-container .row-fluid .ih-info p:last-child {
          margin-bottom: 0; }
    .ih-s-contact .ih-b-container .row-fluid .ih-form .ih-head {
      margin-bottom: 30px; }
      .ih-s-contact .ih-b-container .row-fluid .ih-form .ih-head h2 {
        text-transform: uppercase;
        font-weight: 100; }
        .ih-s-contact .ih-b-container .row-fluid .ih-form .ih-head h2 strong {
          font-weight: 700; }
      .ih-s-contact .ih-b-container .row-fluid .ih-form .ih-head p {
        margin-bottom: 0; }
    .ih-s-contact .ih-b-container .row-fluid .ih-form form {
      font-family: 'Open Sans', sans-serif !important;
      max-width: 610px; }
      .ih-s-contact .ih-b-container .row-fluid .ih-form form input, .ih-s-contact .ih-b-container .row-fluid .ih-form form textarea {
        margin-bottom: 20px; }
      .ih-s-contact .ih-b-container .row-fluid .ih-form form button {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        border: 0;
        border-radius: 0;
        background-color: #ef1e2e;
        text-transform: uppercase;
        padding: 10px 30px;
        color: white;
        font-weight: 700;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
        .ih-s-contact .ih-b-container .row-fluid .ih-form form button:hover {
          color: #ef1e2e;
          background-color: white;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out; }

.mfp-zoom-out-cur .mfp-image-holder .mfp-content .mfp-figure button {
  font-weight: 100;
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif; }

@media only screen and (min-width: 1080px) {
  header {
    padding: 10px 0;
    position: absolute; }
    header .ih-b-container {
      padding: 0 80px;
      align-items: center; }
      header .ih-b-container .ih-logo img {
        width: 120px; }
      header .ih-b-container .ih-nav-right .ih-lang {
        margin-right: 30px; }
        header .ih-b-container .ih-nav-right .ih-lang a {
          font-size: 16px;
          padding: 0 15px; }

  footer {
    padding: 100px 0; }
    footer .ih-b-container .ih-b-footer {
      display: flex;
      justify-content: space-between; }
      footer .ih-b-container .ih-b-footer .ih-b-left p {
        margin-bottom: 40px;
        max-width: 380px; }
      footer .ih-b-container .ih-b-footer .ih-b-left form {
        position: relative;
        margin-bottom: 20px; }
        footer .ih-b-container .ih-b-footer .ih-b-left form input {
          font-size: 16px;
          max-width: 550px; }
        footer .ih-b-container .ih-b-footer .ih-b-left form button {
          width: 20px;
          height: 30px;
          padding: 0;
          position: absolute;
          top: 50%;
          right: 0;
          background: transparent;
          border: 0;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%); }
          footer .ih-b-container .ih-b-footer .ih-b-left form button img {
            width: 100%;
            height: 100%;
            -webkit-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            -o-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            transform: rotate(-90deg); }
      footer .ih-b-container .ih-b-footer .ih-b-right ul {
        margin-bottom: 75px;
        text-align: right; }
        footer .ih-b-container .ih-b-footer .ih-b-right ul li {
          margin-bottom: 0;
          display: inline-block;
          margin-right: 30px; }
          footer .ih-b-container .ih-b-footer .ih-b-right ul li a {
            line-height: 1em;
            color: white;
            position: relative;
            font-weight: 500; }
            footer .ih-b-container .ih-b-footer .ih-b-right ul li a:hover {
              color: #ef1e2e; }
          footer .ih-b-container .ih-b-footer .ih-b-right ul li.dropdown {
            margin-bottom: 0; }
            footer .ih-b-container .ih-b-footer .ih-b-right ul li.dropdown .dropdown-menu {
              text-align: left; }
              footer .ih-b-container .ih-b-footer .ih-b-right ul li.dropdown .dropdown-menu li {
                margin-right: 0;
                display: block; }
                footer .ih-b-container .ih-b-footer .ih-b-right ul li.dropdown .dropdown-menu li a:hover {
                  opacity: 0.7; }
          footer .ih-b-container .ih-b-footer .ih-b-right ul li:last-child {
            margin-bottom: 0; }
      footer .ih-b-container .ih-b-footer .ih-b-right .ih-contact {
        display: flex;
        align-items: center;
        justify-content: center; }
        footer .ih-b-container .ih-b-footer .ih-b-right .ih-contact .ih-sns {
          margin-bottom: 0;
          margin-right: 40px; }

  .ih-s-menu .ih-b-container ul li a {
    font-size: 38px;
    padding: 0 5px; }
  .show-menu .ih-s-menu {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }

  .ih-s-contact {
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .ih-s-contact .ih-b-container {
      width: 100%; }
      .ih-s-contact .ih-b-container .row-fluid .ih-info {
        margin-bottom: 0;
        padding-top: 105px;
        padding-left: 60px; }
      .ih-s-contact .ih-b-container .row-fluid .ih-form .ih-head h2 {
        font-size: 60px;
        margin-bottom: 70px; }
      .ih-s-contact .ih-b-container .row-fluid .ih-form form {
        font-family: 'Open Sans', sans-serif !important; }
        .ih-s-contact .ih-b-container .row-fluid .ih-form form input {
          margin-bottom: 35px;
          padding: 12px 0; }
        .ih-s-contact .ih-b-container .row-fluid .ih-form form textarea {
          margin-bottom: 35px; }
        .ih-s-contact .ih-b-container .row-fluid .ih-form form button {
          padding: 20px 70px;
          font-size: 20px; } }
