title = "Trang chủ | Alipo Blog"
url = "/"
layout = "Default"
slidercode = "home-page"
is_hidden = 0
[postcp]
==

<?php
    function onStart(){
        $this->page->bodyClass = "homePage";
    }
?>

==

<section class="ih-s-section ih-s-home">
    <div class="ih-b-container row-fluid">
        <div class="span-8 ih-b-news">
            <div class="row-fluid">
                {% for item in posts %}
                <div class="span-6 news-item">
                    <figure>
                        <a href="{{ 'post-detail'| page ({ slug: item.slug }) }}">
                            <img src="{{item.thumbnail.path}}" alt="{{item.title}}">
                        </a>
                    </figure>
                    <div class="ih-des">
                        <a href="{{ 'post-detail'| page ({ slug: item.slug }) }}">
                            {{item.title}}
                        </a>
                        <p>{{ item.description | striptags | slice(0, 250) | raw }}</p>
                    </div>
                </div>
                {% endfor %}

            </div>
            {{ posts.render|raw }}

        </div>

        <div class="span-4 ih-b-sidebar">
                <h3>{{'Tin mới nhất'|_}}</h3>
                {% for item in relatePosts %}
                <div class="news-item item-sidebar">
                    <figure>
                        <a href="{{ 'post-detail'| page ({ slug: item.slug }) }}">
                            <img src="{{item.thumbnail.path}}" alt="{{item.title}}">
                        </a>
                    </figure>
                    <div class="ih-des">
                        <a href="{{ 'post-detail'| page ({ slug: item.slug }) }}">
                            {{item.title}}
                        </a>
                        <p>{{item.created_at | date("m/d/Y")}}</p>
                    </div>
                </div>
                {% endfor %}
        </div>
    </div>
</section>