title = "Tin tức | Alipo"
url = "/tin-tuc"
layout = "Default"
is_hidden = 0
==

<?php
    function onStart(){
        $this->page->bodyClass = 'post';
    }
?>

==
<section class="ih-s-section ih-s-blogs">
    <div class="ih-b-container">
        <div class="ih-b-head">
            
        </div>
        <div class="ih-b-body">
          
        </div>

    </div>
</section>